.bridge {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

.bridge__header {
  margin: 0;
  padding: 0 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: inline-block;
  background-color: #81b3d2;
}

.bridge__title {
  margin: 0;
  padding: 0;
  padding-bottom: 7px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.bridge__number {
  padding-left: 110px;
  padding-bottom: 18px;
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  color: #000000;

  &--color {
    padding-left: 110px;
    padding-bottom: 15px;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
  }
}

.bridge__description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;

  &--color {
    color: #ffffff;
  }

  &--road {
    padding: 0 20px;
  }

  &--tourist {
    padding: 0 15px;
  }
}

.bridge__image {
  width: 320px;
  height: 260px;
  display: block;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

.bridge__list {
  margin: 0;
  padding: 0 20px;
  display: inline-block;
  list-style: none;
  background-color: #eeeeee;
}

.bridge__item {
  margin: 0;
  padding: 0;
  padding-top: 26px;
  padding-bottom: 25px;
  border-bottom: 1px solid #d6d6d6;

  &:last-child {
    border-bottom: none;
  }
}

.bridge__features {
  margin: 0;
  padding: 0;
  padding-bottom: 9px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .bridge {
    width: 768px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .bridge__header {
    padding: 0 30px;
    padding-top: 44px;
    width: 256px;
    box-sizing: border-box;
    order: 2;
  }

  .bridge__number {
    padding-left: 70px;
    padding-bottom: 22px;

    &--color {
      padding-left: 70px;
      padding-bottom: 25px;
    }
  }

  .bridge__description {
    padding: 0 15px;

    &--road {
      padding-left: 28px;
      padding-right: 28px;
    }
  }

  .bridge__title {
    padding-left: 22px;
    padding-bottom: 10px;
    display: inline-block;
    font-size: 21px;
    font-weight: 700;

    &--position {
      display: block;
    }
  }

  .bridge__list {
    width: 768px;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    order: 3;
  }

  .bridge__item {
    padding-top: 45px;
    padding-bottom: 43px;
    width: 200px;
    border: none;
  }

  .bridge__features {
    padding: 0 20px;
    padding-bottom: 10px;
    display: inline-block;
    font-size: 21px;
    font-weight: 700;
  }

  .bridge__image {
    width: 512px;
    height: 256px;
    display: block;
    background-position: top center;
    background-repeat: no-repeat;
  }
}

@media (min-width: $desktop-width) {
  .bridge {
    width: 1200px;
  }

  .bridge__header {
    padding: 0 70px;
    padding-top: 54px;
    width: 400px;
  }

  .bridge__title {
    padding-left: 54px;
    padding-bottom: 10px;
  }

  .bridge__number {
    padding-left: 130px;

    &--color {
      padding-left: 100px;
      padding-bottom: 20px;
    }
  }

  .bridge__description--tourist {
    padding-left: 0;
  }

  .bridge__list {
    width: 1200px;
    padding: 0 35px;
    padding-bottom: 14px;
  }

  .bridge__item {
    margin: 0;
    padding-top: 45px;
    padding-bottom: 50px;
    width: 320px;
  }

  .bridge__image {
    width: 800px;
  }

  .bridge__features {
    padding: 0 90px;
    padding-bottom: 10px;

    &--areas {
      padding-left: 100px;
    }

    &--road {
      padding-left: 90px;
    }

    &--tourist {
      padding-left: 80px;
    }
  }
}
