.hashtag {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 36px;
  padding: 0;
  background-color: #fefefe;

  &__item {
    margin: 0;
    padding: 0;
    padding-left: 91px;
    padding-bottom: 20px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

@media (min-width: $tablet-width) {

  .hashtag {
    width: 196px;
    margin: 0;
    padding: 0;
    padding-top: 11px;
    box-sizing: border-box;

    &__item {
      padding: 0;
      padding-left: 60px;
      padding-bottom: 0px;
    }
  }
}

@media (min-width: $desktop-width) {

  .hashtag__item {
    padding-left: 118px;
  }
}
