.order {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.order__header {
  margin: 0;
  margin-bottom: 29px;
  padding: 0 20px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.order__title {
  margin: 0;
  padding: 0;
  padding-bottom: 18px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.order__description {
  margin: 0;
  padding: 0;
  padding-bottom: 34px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.order__maps-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  width: 320px;

  &::before {
    content: "";
    top: 161px;
    left: 145px;
    width: 27px;
    height: 27px;
    display: block;
    position: absolute;
    background-image: url("../img/icon-map-marker.svg");
    background-position: top center;
    background-repeat: no-repeat;
    z-index: 2;
  }
}

.order__map {
  width: 320px;
  height: 350px;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

.order__map-interactive {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.order__button {
  margin: 0;
  margin-bottom: 20px;
  padding: 16px 20px;
  max-width: 280px;
  display: inline-block;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #81b3d2;
  color: #ffffff;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: #88b6d1;
    background-color: #5496bd;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

@media (min-width: $tablet-width) {
  .order {
    width: 768px;
  }

  .order__title {
    padding-top: 26px;
    padding-bottom: 30px;
    font-size: 30px;
  }

  .order__description {
    padding: 0 145px;
    margin-bottom: 42px;
    text-align: center;
  }

  .order__description--position {
    display: block;
  }

  .order__maps-wrapper {
    width: 768px;

    &::before {
      content: "";
      top: 164px;
      left: 370px;
      width: 27px;
      height: 27px;
      display: block;
      position: absolute;
      background-image: url("../img/icon-map-marker.svg");
      background-position: top center;
      background-repeat: no-repeat;
    }
  }

  .order__map {
    width: 768px;
    height: 350px;
    display: block;
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
  }

  .order__button {
    margin: 0 135px;
    margin-bottom: 29px;
    padding: 16px 90px;
    max-width: 280px;
  }
}

@media (min-width: $desktop-width) {
  .order {
    width: 1200px;
  }

  .order__description {
    padding: 0 360px;
    margin-bottom: 47px;
  }

  .order__maps-wrapper {
    width: 1200px;

    &::before {
      top: 164px;
      left: 586px;
    }
  }

  .order__map {
    width: 1200px;
  }

  .order__button {
    margin: 0 350px;
    margin-bottom: 37px;
    padding: 16px 90px;
    max-width: 280px;
  }
}
