.sprite {
  display: none;
}

.review {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  &__label-tel {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 30px;
      left: 222px;
      width: 58px;
      height: 58px;
      background-color: #e6e6e6;
      background-image: url("../img/icon-phone.svg");
      background-position: center center;
      background-repeat: no-repeat;
      z-index: 1;
    }
  }

  &__label-email {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 30px;
      left: 222px;
      width: 58px;
      height: 58px;
      background-color: #e6e6e6;
      background-image: url("../img/icon-mail.svg");
      background-position: center center;
      background-repeat: no-repeat;
      z-index: 1;
    }
  }

  &__input--radio + label::before {
    content: "";
    top: -12px;
    left: 0;
    width: 55px;
    height: 55px;
    position: absolute;
    background-color: #f2f2f2;
    border-radius: 50%;
    cursor: pointer;
  }

  &__input--radio:checked + label::after {
    content: "";
    top: 5px;
    left: 18px;
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #333333;
    border-radius: 50%;
  }

  &__input--checkbox + label::before {
    content: "";
    top: -14px;
    left: -1px;
    width: 56px;
    height: 56px;
    position: absolute;
    background-color: #f2f2f2;
    border-radius: 7px;
    cursor: pointer;
  }

  &__input--checkbox:checked + label::after {
    content: "";
    top: -14px;
    left: -1px;
    width: 56px;
    height: 56px;
    position: absolute;
    background-color: #f2f2f2;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-size: 23px 16px;
    background-position: center;
    border-radius: 7px;
    cursor: pointer;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin: 0;
    padding-left: 20px;
    padding-bottom: 25px;
    border: none;
    border-bottom: 1px solid #e5e5e5;

    &--introduce {
      padding-bottom: 20px;
    }

    &--contacts {
      margin-top: 20px;
      padding-top: 2px;
      position: relative;
    }

    &--radio {
      margin-top: 15px;
      padding-bottom: 35px;
      position: relative;
    }

    &--checkbox {
      margin-top: 18px;
      position: relative;
    }

    &--description {
      margin-top: 17px;
      border: none;
    }

    & input[type="text"] {
      box-sizing: border-box;
      width: 192px;
      padding: 14px 15px 14px 20px;
      font-size: 18px;
      line-height: 26px;
      font-weight: 700;
      background-color: #f2f2f2;
      border: 2px solid #f2f2f2;
      outline: 0;

      &:hover {
        background-color: #e5e5e5;
        border: 2px solid #e5e5e5;
      }

      &:focus {
        background-color: #ffffff;
        border: 2px solid #e5e5e5;
      }
    }

    & input[type="tel"] {
      box-sizing: border-box;
      position: relative;
      width: 280px;
      padding: 14px 60px 14px 20px;
      font-size: 18px;
      line-height: 26px;
      font-weight: 700;
      background-color: #f2f2f2;
      border: 2px solid #f2f2f2;
      outline: 0;

      &:hover {
        background-color: #e5e5e5;
        border: 2px solid #e5e5e5;
      }

      &:focus {
        background-color: #ffffff;
        border: 2px solid #e5e5e5;
      }
    }

    & input[type="email"] {
      box-sizing: border-box;
      width: 280px;
      padding: 14px 60px 14px 20px;
      font-size: 18px;
      line-height: 26px;
      font-weight: 700;
      background-color: #f2f2f2;
      border: 2px solid #f2f2f2;
      outline: 0;

      &:hover {
        background-color: #e5e5e5;
        border: 2px solid #e5e5e5;
      }

      &:focus {
        background-color: #ffffff;
        border: 2px solid #e5e5e5;
      }
    }
  }

  &__title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__option--name {
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 5px;

    & label {
      margin: 0;
      padding: 0;
      padding-right: 10px;
      font-size: 14px;
      line-height: 26px;
      text-transform: uppercase;
    }

    & input {
      margin: 0;
      padding: 0;
      font-size: 18px;
      line-height: 26px;
      font-weight: 700;
    }
  }

  &__list--contacts {
    margin: 0;
    padding: 0;
    padding-top: 11px;
    list-style: none;
  }

  &__option--contacts {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;

    & label {
      margin: 0;
      padding: 0;
      padding-left: 20px;
      font-size: 14px;
      line-height: 26px;
      text-transform: uppercase;
    }

    & input {
      margin: 0;
      margin-top: 8px;
      padding: 0;
      font-size: 18px;
      line-height: 26px;
      font-weight: 700;
    }
  }

  &__option--radio {
    margin: 0;
    padding: 0;
    padding-top: 32px;
    padding-bottom: 10px;

    & label {
      margin: 0;
      padding: 0;
      padding-left: 78px;
      position: relative;
      display: block;
      cursor: pointer;
      font-size: 18px;
      line-height: 26px;
      font-weight: 700;
      text-transform: none;
    }
  }

  &__list--checkbox {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__option--checkbox {
    margin: 0;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 30px;

    & label {
      margin: 0;
      padding: 0;
      padding-left: 78px;
      position: relative;
      display: block;
      cursor: pointer;
      font-size: 18px;
      line-height: 26px;
      font-weight: 700;
      text-transform: none;
    }

    &:last-child {
      margin-bottom: 15px;
    }
  }

  &__option--description {
    margin: 0;
    padding: 0;
    padding-top: 12px;
    padding-bottom: 16px;

    & textarea {
      box-sizing: border-box;
      width: 280px;
      padding: 15px 20px 15px 20px;
      font-size: 18px;
      line-height: 26px;
      font-weight: 700;
      background-color: #f2f2f2;
      border: 2px solid #f2f2f2;

      &:hover {
        background-color: #e5e5e5;
        border: 2px solid #e5e5e5;
      }

      &:focus {
        background-color: #ffffff;
        border: 2px solid #e5e5e5;
      }
    }
  }

  &__button {
    margin: 0 20px;
    margin-bottom: 37px;
    padding: 16px 20px;
    width: 280px;
    display: inline-block;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #81b3d2;
    border: none;
    cursor: pointer;
    color: #ffffff;

    &:hover {
      background-color: #669ec0;
    }

    &:active {
      color: #88b6d1;
      background-color: #5496bd;
    }

    &:disabled {
      background-color: #e5e5e5;
    }
  }

  &__required {
    display: none;
  }

  &__option--name:first-child .review__input {
    width: 230px;
    padding: 14px 15px 14px 20px;
  }

  .review__input--checkbox:hover + label:hover::before,
  .review__input--checkbox:checked:hover + label:hover::after,
  .review__input--radio:hover + label:hover::before {
    background-color: #e5e5e5;
  }

  .review__input--checkbox:active + label:active::before,
  .review__input--radio:active + label:active::before {
    background-color: #d5d5d5;
  }

  .review__input--radio:active + label:active::after {
    background-color: #a4a4a4;
  }

  .review__input--checkbox:checked:active + label::after {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .review {
    width: 768px;
    padding: 0 40px;
    flex-direction: column;

    &__label-tel {
      &::after {
        left: 590px;
      }
    }

    &__label-email {
      &::after {
        left: 590px;
      }
    }

    &__input--radio + label::before {
      top: -14px;
    }

    &__input--radio:checked + label::after {
      top: 4px;
    }

    &__input--checkbox + label::before {
      top: -14px;
      left: -1px;
    }

    &__input--checkbox:checked + label::after {
      top: -14px;
      left: -1px;
    }

    &-filter {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      border-bottom: none;

      &--introduce {
        width: 327px;
        margin: 0;
        padding: 0;
        padding-left: 56px;
        box-sizing: border-box;
      }

      &--contacts {
        margin: 0;
        margin-top: 65px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 0;
        border-top: 1px solid #dbdbdb;
      }

      &--radio {
        width: 344px;
        margin: 0;
        padding: 0;
        padding-right: 20px;
        box-sizing: border-box;
        order: -1;
        border-right: 1px solid #dbdbdb;

        .review__title {
          width: auto;
          text-align: start;
          padding-left: 20px;
        }
      }

      &--checkbox {
        width: 648px;
        margin: 0;
        margin-top: 50px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 0;
        padding-bottom: 45px;
        border-top: 1px solid #dbdbdb;
      }

      &--description {
        width: 648px;
        margin: 0;
        margin-left: 20px;
        margin-right: 20px;
        padding: 0;
        padding-top: 40px;
        padding-bottom: 36px;
        border-top: 1px solid #dbdbdb;
      }
    }

    &__title--name {
      width: auto;
      text-align: start;
      margin-bottom: 43px;
    }

    & input[type="text"] {
      box-sizing: border-box;
      width: 178px;
    }

    & input[type="tel"] {
      width: 648px;
      padding: 14px 60px 15px 20px;
    }

    & input[type="email"] {
      width: 648px;
      padding: 14px 60px 15px 20px;
    }

    &__title {
      font-size: 21px;
    }

    &__list--contacts {
      margin: 0;
      padding: 0;
    }

    &__option--contacts {
      padding-top: 21px;
      padding-bottom: 2px;
      list-style: none;
    }

    &__option--radio {
      padding-left: 20px;
      padding-bottom: 20px;

      &:first-child {
        margin-top: 42px;
      }
    }

    &__list--checkbox {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__title--contacts {
      width: 400px;
    }

    &__title--checkbox {
      width: 400px;
    }

    &__title--description {
      width: 400px;
    }

    &__option--checkbox {
      width: 220px;
      padding-top: 30px;
      padding-bottom: 35px;

      &:nth-child(-n+2) {
        margin-top: 25px;
      }

      &:nth-child(odd) {
        margin-left: 96px;
        box-sizing: border-box;
      }

      &:nth-child(even) {
        margin-left: 39px;
        box-sizing: border-box;
      }
    }

    &__option--description {
      padding-top: 19px;
      padding-bottom: 12px;

      & textarea {
        width: 648px;
        padding: 15px 20px 15px 20px;
      }
    }

    &__button {
      padding: 16px 30px;
      width: 323px;
      margin-bottom: 60px;
    }

    &__required {
      display: inline-block;
      width: 200px;
      margin: 0;
      padding: 0;
      padding-top: 20px;
      padding-left: 100px;
      font-size: 14px;
      line-height: 26px;
      text-align: end;
      text-transform: uppercase;
    }
  }

  .review__option--name:first-child .review__input {
    width: 220px;
  }
}

@media (min-width: $desktop-width) {
  .review {
    width: 1200px;
    padding: 0 100px;

    &__label-tel {
      &::after {
        top: 8px;
        left: 341px;
      }
    }

    &__label-email {
      &::after {
        top: 8px;
        left: 419px;
      }
    }

    &__item {
      border-bottom: none;

      & input[type="text"] {
        box-sizing: border-box;
        width: 316px;
      }

      & input[type="tel"] {
        width: 315px;
        padding: 14px 60px 15px 20px;
      }

      & input[type="email"] {
        width: 315px;
        padding: 14px 60px 15px 20px;
      }

      &--introduce {
        width: 500px;
        padding-left: 80px;
      }

      &--radio {
        width: 500px;

        .review__title--radio {
          width: auto;
          text-align: start;
          padding-left: 100px;
        }
      }

      &--contacts {
        width: 960px;
      }

      &--checkbox {
        width: 960px;
        margin: 0;
        margin-top: 50px;
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 45px;
      }

      &--description {
        margin: 0;
        margin-top: 5px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 0;
        padding-top: 38px;
        padding-bottom: 38px;
      }
    }

    &__list--contacts {
      margin: 0;
      padding: 0;
      margin-top: 42px;
      display: flex;

      & span {
        display: none;
      }
    }

    &__list--checkbox {
      display: flex;
      justify-content: space-between;
    }

    &__option--contacts {
      display: flex;

      &:first-child {
        padding-right: 82px;
      }

      & label {
        padding: 0;
        padding-top: 25px;
        padding-right: 15px;
      }
    }

    &__option--checkbox {
      width: 200px;
      margin-top: 24px;

      &:nth-child(n+2):nth-child(-n+3) {
        margin-left: 15px;
      }

      &:nth-child(-n+2) {
        margin-top: 24px;
      }

      &:nth-child(odd) {
        margin-left: 0;
        box-sizing: border-box;
      }

      &:nth-child(even) {
        margin-left: 0;
        box-sizing: border-box;
      }
    }

    &__option--description {
      padding-bottom: 10px;

      & textarea {
        width: 962px;
        padding: 15px 20px 15px 20px;
      }
    }

    &__button {
      width: 480px;
      margin-bottom: 66px;
    }

    &__required {
      padding-left: 260px;
    }
  }

  .review__option--name:first-child .review__input {
    width: 350px;
  }
}
