.slider-third {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  width: 320px;
  height: 320px;
  position: relative;
  display: inline-block;
  background-color: #81b3d2;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  &::before {
    content: "";
    top: 131px;
    left: 0;
    width: 320px;
    height: 26px;
    position: absolute;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-position: top center;
    background-repeat: no-repeat;
  }
}

.slider-third__text-sedona-img {
  display: block;
  width: 229px;
  height: 39px;
  margin: 0 auto;
  padding-top: 52px;
}

.slider-third__header {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.slider-third__title {
  margin: 0;
  margin-top: 66px;
  margin-bottom: 25px;
  padding: 0;
  padding-top: 38px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.slider-third__description {
  margin: 0;
  padding: 0 20px;
  padding-bottom: 29px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .slider-third {
    width: 768px;
    margin-bottom: 222px;
    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }

    &::before {
      top: 233px;
      width: 768px;
      height: 57px;
      background-image: url("../img/bg-intro-triangle-tablet.svg");
    }
  }

  .slider-third__text-sedona-img {
    width: 458px;
    height: 78px;
    padding-top: 95px;
  }

  .slider-third__header {
    margin: 0;
    padding: 0;
  }

  .slider-third__title {
    margin-top: 117px;
    margin-bottom: 30px;
    padding-top: 75px;
    font-size: 30px;
  }

  .slider-third__description {
    padding: 0 160px;

    &--position {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider-third {
    width: 1200px;
    margin-bottom: 255px;
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }

    &::before {
      top: 244px;
      width: 1200px;
      background-image: url("../img/bg-intro-triangle-desktop.svg");
    }
  }

  .slider-third__text-sedona-img {
    width: 461px;
    height: 80px;
    padding-top: 101px;
  }

  .slider-third__header {
    margin: 0;
    padding: 0;
    border-bottom: none;
  }

  .slider-third__title {
    margin-top: 120px;
    padding-top: 112px;
  }

  .slider-third__description {
    padding: 0 379px;
  }
}
