.bridge {
  margin: 0;
  padding: 0;
  width: 320px;
}

.bridge__header {
  margin: 0;
  padding: 0 20px;
  padding-top: 30px;
  padding-bottom: 37px;
  display: inline-block;
  background-color: #81b3d2;
}

.bridge__title {
  margin: 0;
  padding: 10px 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.bridge__number {
  padding-bottom: 18px;
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  color:#000000;
}

.bridge__number--color {
  padding-bottom: 15px;
  display: inline-block;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
}

.bridge__description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.bridge__description--color {
  color: #ffffff;
}

.bridge__image {
  display: block;
  width: 320px;
  background-color: #ffffff;
}

.bridge__list {
  margin: 0;
  margin-bottom: -2px;
  padding: 0 20px;
  display: inline-block;
  list-style: none;
  background-color: #eeeeee;
}

.bridge__item {
  margin: 0;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 29px;
  border-bottom: 1px solid #d6d6d6;
}

.bridge__item:last-child {
  border-bottom: none;
}

.bridge__features {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
