.bridge {
  width: 320px;
  margin: 0 auto;
  padding: 0;

  &__header {
    margin: 0;
    padding: 0 20px;
    padding-top: 30px;
    padding-bottom: 37px;
    display: inline-block;
    background-color: #81b3d2;
  }

  &__title {
    margin: 0;
    padding: 10px 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
  }

  &__number {
    padding-left: 120px;
    padding-bottom: 18px;
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    color:#000000;
  
    &--color {
      padding-left: 120px;
      padding-bottom: 15px;
      display: inline-block;
      color: #ffffff;
      text-align: center;
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__description {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
  
    &--color {
      color: #ffffff;
    }
  }

  &__image {
    display: block;
    width: 320px;
    background-color: #ffffff;
  }

  &__list {
    margin: 0;
    margin-bottom: -2px;
    padding: 0 20px;
    display: inline-block;
    list-style: none;
    background-color: #eeeeee;
  }

  &__item {
    margin: 0;
    padding: 0;
    padding-top: 26px;
    padding-bottom: 29px;
    border-bottom: 1px solid #d6d6d6;
  
    &:last-child {
      border-bottom: none;
    }
  }

  &__features {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
}
