.developer {
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: #fefefe;
}

.developer__link {
  margin: 0;
  margin-top: 2px;
  padding: 0;
  padding-left: 55px;
}

.developer__image {
  margin-top: 10px;
  margin-left: 10px;
  width: 27px;
  background-color: #fefefe;
}

.developer__item {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.developer__item::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 102px;
  width: 27px;
  height: 34px;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
