.main-nav {
  width: 320px;
  margin: 0 auto;
  padding: 0;

  &__toggle {
    margin: 0;
    margin-left: 148px;
    margin-top: 16px;
    margin-bottom: 18px;
    padding: 0;
    width: 23px;
    height: 21px;
    background-image: url("../img/icon-menu.svg") 50% 50% no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
  }
}
