.order {
  width: 320px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.order__header {
  margin: 0;
  margin-bottom: 29px;
  padding: 0 20px;
  padding-top: 27px;
  display: flex;
  flex-direction: column;
}

.order__title {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.order__description {
  margin: 0;
  padding: 0;
  padding-bottom: 34px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.order__maps {
  width: 320px;
  display: block;
}

.order__button {
  margin: 0;
  margin-bottom: 20px;
  padding: 16px 20px;
  max-width: 280px;
  display: inline-block;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #81b3d2;
  color: #ffffff;
}
