body {
  margin: 0 auto;
  padding: 0;
  max-width: 320px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  text-transform: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.text-hide {
  display: inline-block;
  vertical-align: top;
  width: 0;
  height: 0;
  text-indent: -500%;
  white-space: nowrap;
  overflow: hidden;
}
