.review__item {
  margin: 0 20px;
  margin-top: 11px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.review__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.review__option label {
  margin: 0;
  padding: 0;
  padding-right: 10px;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.review__option input {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}
/*
.review__item input[type=text] {
  box-sizing: border-box;
  width: 229px;
  padding: 15px 15px 15px 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  outline: 0;
}
*/

.review__item input[type="text"] {
  box-sizing: border-box;
  width: 194px;
  padding: 15px 15px 15px 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  outline: 0;
}

.review__item input[type="tel"] {
  box-sizing: border-box;
  width: 280px;
  padding: 15px 20px 15px 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  outline: 0;
}

.review__item input[type="email"] {
  box-sizing: border-box;
  width: 280px;
  padding: 15px 20px 15px 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  outline: 0;
}

.review__option-radio label {
  margin: 0;
  padding: 0;
  padding-left: 78px;
  position: relative;
  display: block;
  cursor: pointer;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
}

.review__option-radio {
  margin-top: 37px;
  margin-bottom: 43px;
}

.review__option-checkbox label {
  margin: 0;
  padding: 0;
  padding-left: 78px;
  position: relative;
  display: block;
  cursor: pointer;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
}

.review__option-checkbox {
  margin-top: 37px;
  margin-bottom: 43px;
}

.review__option textarea {
  box-sizing: border-box;
  width: 280px;
  padding: 15px 20px 15px 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.review__button {
  margin: 0 20px;
  margin-bottom: 20px;
  padding: 16px 20px;
  width: 280px;
  display: inline-block;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
  color: #ffffff;
}
