.site-list {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  margin-top: -1px;
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #81b3d2;
  text-align: center;

  & a {
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
  }
  
  &__item:last-child {
    box-shadow: 0 -1px 3px 0 #678fa8 inset;
  }
  
  &__item {
    padding: 8px 0;
    box-shadow: 0 1px 0 0 #678fa8;
  }
}
