.slider {
  margin: 0;
  padding: 0;
  width: 320px;
  display: inline-block;
  position: relative;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.slider-header {
  margin: 0;
  margin-top: 430px;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.slider__title {
  margin: 0;
  padding: 0;
  padding-bottom: 26px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.slider__description {
  margin: 0;
  padding: 0;
  padding-bottom: 43px;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}
