.social {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  &__list {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    padding-left: 58px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  
  &__item {
    margin-left: 6px;
    padding-bottom: 20px;
  }
  
  &__link {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
  
    &--twitter::before {
      content: "";
      position: absolute;
      top: 17px;
      left: 14px;
      width: 17.5px;
      height: 14.663px;
      background-image: url("../img/icon-twitter.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  
    &--facebook::before {
      content: "";
      position: absolute;
      top: 13px;
      left: 19px;
      width: 8.672px;
      height: 18.944px;
      background-image: url("../img/icon-facebook.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
    
    &--youtube::before {
      content: "";
      position: absolute;
      top: 17px;
      left: 14px;
      width: 19.979px;
      height: 14.015px;
      background-image: url("../img/icon-youtube.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
}
