.slider-second {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  width: 320px;
  height: 320px;
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;

  &::before {
    content: "";
    top: 131px;
    left: 0;
    width: 320px;
    height: 26px;
    position: absolute;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-position: top center;
    background-repeat: no-repeat;
  }

  &__header {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
  }
  
  &__title {
    margin: 0;
    margin-top: 157px;
    margin-bottom: 25px;
    padding: 0;
    padding-top: 38px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  
  &__description {
    margin: 0;
    padding: 0 20px;
    padding-bottom: 29px;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {

  .slider-second {
    width: 768px;
    background-image: url("../img/bg-back-mobile@1x.jpg");

    &::before {
      top: 233px;
      width: 768px;
      height: 57px;
      background-image: url("../img/bg-intro-triangle-tablet.svg");
    }
  
    &__header {
      margin: 0;
      padding: 0;
      border: none;
    }
    
    &__title {
      margin-top: 290px;
      margin-bottom: 30px;
      padding-top: 75px;
      font-size: 30px;
    }
  
    &__description {
      padding: 0 170px;
    }
  }
}

@media (min-width: $desktop-width) {

  .slider-second {
    width: 1200px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    margin-bottom: 198px;

    &::before {
      top: 244px;
      width: 1200px;
      background-image: url("../img/bg-intro-triangle-desktop.svg");
    }
  
    &__header {
      margin: 0;
      padding: 0;
      border: none;
    }
    
    &__title {
      margin-top: 301px;
      padding-top: 112px;
    }
  
    &__description {
      padding: 0 380px;
    }
  }
}
