.slider {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;

  &::before {
    content: "";
    top: 364px;
    left: 0;
    width: 320px;
    height: 26px;
    position: absolute;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-position: top center;
    background-repeat: no-repeat;
  }

  &-header {
    margin: 0;
    margin-top: 430px;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
  }

  &__title {
    margin: 0;
    padding: 0;
    padding-bottom: 26px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  
  &__description {
    margin: 0;
    padding: 0;
    padding-bottom: 43px;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
  }  
}

@media (min-width: $tablet-width) {

  .slider {
    width: 768px;
    background-size: 1068px 520px;

    &-header {
      margin-top: 570px;
      margin-bottom: 49px;
      padding: 0;
    }
  
    &__title {
      margin-bottom: 26px;
      padding: 0 140px;
      font-size: 21px;
    }
    
    &__description {
      padding: 0 140px;
    }  
  }
}

@media (min-width: $desktop-width) {

  .slider {
    width: 1200px;
    background-size: 1200px 518px;

    &-header {
      margin-top: 570px;
      margin-bottom: 49px;
    }
  
    &__title {
      margin: 0;
      margin-bottom: 28px;
      padding: 0 300px;
    }
    
    &__description {
      margin: 0;
      padding: 0 350px;
    }  
  }
}
