.slider-third {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  width: 320px;
  height: 361px;
  position: relative;
  display: inline-block;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 830%;
  background-repeat: no-repeat;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;

  &::before {
    content: "";
    top: 132px;
    left: 0;
    width: 320px;
    height: 26px;
    position: absolute;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-position: top center;
    background-repeat: no-repeat;
  }

  &__header {
    margin: 0;
    margin-top: 158px;
    padding: 0 20px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }
  
  &__title {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  
  &__description {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  
  .slider-third {
    width: 768px;
    margin-bottom: 128px;
    background-size: 768px 389px;
    background-position: 100% 120%;
  
    &__header {
      margin-top: 290px;
      padding: 0 140px;
      padding-top: 75px;
    }
    
    &__title {
      margin-bottom: 30px;
      font-size: 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  
  .slider-third {
    width: 1200px;
    margin-bottom: 199px;
    background-size: 1200px 540px;
  
    &__header {
      margin: 0;
      margin-top: 300px;
      padding: 0 380px;
      padding-top: 75px;
      border-bottom: none;
    }
    
    &__title {
      padding-top: 40px;
    }
  }
}
