body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  font-style: normal;
  text-transform: none;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav--closed .site-list__item {
    display: block;
    margin-bottom: -60px;
  }
}

@media (min-width: $desktop-width) {
  body {
    background-color: #f2f2f2;
  }
}

::-webkit-input-placeholder { /* Chrome */
  color: #000000;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000000;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000000;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #000000;
}