.photo {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #ffffff;

  &__item-wrapper {
    margin: 0;
    padding: 0;
  }
  
  &__original {
    margin: 0;
    padding: 0;
  }
  
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
  }
  
  &__item {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e5e5e5;
  }
  
  &__image {
    margin-bottom: 17px;
    width: 280px;
    display: block;
    background-color: #ffffff;
  }
  
  &__title {
    margin: 0;
    padding: 0;
    padding-bottom: 4px;
    display: flex;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  &__author {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    display: flex;
    font-size: 14px;
    line-height: 24px;
  }
  
  &__like {
    margin: 0;
    padding: 0;
    padding-left: 35px;
    padding-bottom: 18px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    display: inline-block;
  }
}

@media (min-width: $tablet-width) {

  .photo {
    width: 768px;
    padding: 0 60px;
    padding-top: 70px;
  
    &__item {
      border-bottom: none;
    }
  
    &__list {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }
  
    &__item:nth-child(1) {
      margin: 0;
      padding: 0;
      width: 648px;
    }
  
    &__item:nth-child(n+2) {
      margin: 0;
      padding: 0;
      width: 324px;
    }

    &__item-wrapper {
      margin: 0;
      padding: 0;
      background-color: #f2f2f2;
    }
  
    &__image:nth-child(1) {
      margin-bottom: 17px;
      width: 648px;
      height: 400px;
      box-sizing: border-box;
      background-color: #f2f2f2;
    }
  
    &__image:nth-child(n+2) {
      margin-bottom: 17px;
      width: 324px;
      height: 267px;
      box-sizing: border-box;
      background-color: #f2f2f2;
    }
  
    &__title {
      margin: 0;
      padding: 0;
      padding-left: 20px;
    }
    
    &__author {
      margin: 0;
      padding: 0;
      padding-left: 20px;
      padding-bottom: 10px;
    }
  }
}

@media (min-width: $desktop-width) {

  .photo {
    width: 1200px;
    padding: 0;
  
    &__item:nth-child(1) {
      width: 1200px;
    }
  
    &__item:nth-child(n+2) {
      width: 400px;
    }
  
    &__image:nth-child(1) {
      margin-bottom: 0;
      width: 1200px;
    }
  
    &__image:nth-child(n+2) {
      margin-bottom: 0;
      width: 400px;
    }
  }
}
